{% extends "./layout.html" %}

{% block page %}

<p>Aşağıdaki içinde `node.js` kelimesi geçen ve İstanbul'da olan iş ilanları bulunmaktadır.</p>

<p>
  Bu ilanlar
  <a href="https://www.crossover.com/x/marketplace/available-jobs?title=node">Crossover</a>, 
  <a href="http://tr.indeed.com/nodejs-jobs-in-Istanbul">Indeed</a>
  (<a href="http://tr.indeed.com/node.js-jobs-in-Istanbul">2</a>), 
  <a href="http://www.kariyer.net/is-ilanlari/#&ct=c34,c82&kw=node">Kariyer.net</a>, 
  <a href="https://www.linkedin.com/jobs/search?keywords=Node.js%20OR%20Nodejs%20OR%20Node&location=Istanbul%2C%20Turkey">LinkedIn</a>, 
  <a href="http://www.yenibiris.com/is-ilanlari?q=node">Yenibiriş</a>
adreslerinden alınmaktadır.
</p>

<p>İlan eklemek için lütfen <a href="https://github.com/nodeist/website">GitHub</a> deposuna Pull Request yapın ya da <a href="mailto:hey@node.ist">hey@node.ist</a> adresine e-posta gönderin.</a>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Firma</th>
      <th>Pozisyon</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody id="listBody">
    {% for job in jobs -%}
    <tr>
      <td>
        {% if job.employerurl %}
        <a href="{{job.employerurl}}">{{job.employer}}</a>
        {% else %}
        {{job.employer}}
        {% endif %}
      </td>
      <td>
        {% if job.url %}
          <a href="{{job.url}}">{{job.title}}</a>
        {% else %}
          {{job.title}}
        {% endif %}
      </td>
      <td>
        {% if job.urls %}
          {% for source, url in job.urls -%}
            <a href="{{url}}">{{source}}</a>&nbsp; 
          {%- endfor %} 
        {% endif %}
      </td>
    </tr>
    {%- endfor %}
  </tbody>
</table>

{% endblock %}
