{% extends "./layout.html" %}

{% block page %}

<h2>E-posta</h2>

<p>Her tür soru ve yazışmalar için <img src="http://safemail.justlikeed.net/e/9b7e08d2ede7e86fa26d00e2f77099c3.png"> adresine yazabilirsiniz.</p>

<h2>IRC</h2>

<p><b>irc.freenode.net</b> sunucusunda <b>#nodeist</b> kanalındayız.</p>

<p>Eğer bir IRC programınız yoksa <a href="https://webchat.freenode.net/?channels=nodeist">Freenode WebChat</a> hizmeti üzerinden bağlanabilirsiniz.</p>

<h2>GitHub</h2>

<p>node.ist internet sitesi başta olmak üzere tüm kod ve yazılımlarını <a href="https://github.com/nodeist">https://github.com/nodeist</a> adresinde bulabilirsiniz.</p>

{% endblock %}
