{% extends "./layout.html" %}

{% block title %}node.ist ile iletişim{% endblock %}
{% block page %}

<h5>e-posta</h5>
<p>Her tür soru ve yazışmalar için <img src="http://safemail.justlikeed.net/e/9b7e08d2ede7e86fa26d00e2f77099c3.png"> adresine yazabilirsiniz.</p>

<h5>IRC</h5>
<p><b>irc.freenode.net</b> sunucusunda <b>#nodeist</b> kanalındayız.</p>
<p>Eğer bir IRC programınız yoksa <a target="_blank" href="https://webchat.freenode.net/?channels=nodeist">Freenode WebChat</a> hizmeti üzerinden bağlanabilirsiniz.</p>

<h5>GitHub</h5>
<p>node.ist internet sitesi başta olmak üzere tüm kod ve yazılımlarını <a target="_blank" href="https://github.com/nodeist">https://github.com/nodeist</a> adresinde bulabilirsiniz.</p>

{% endblock %}
