{% extends "./layout.html" %}

{% block page %}

<h2>Türkçe kitaplar</h2>

<div class="row">
  {% for book in books.tr -%}
  <div class="book">
    <a href="{{ book.url }}">
      <img alt="{{ book.title }}" title="{{ book.title }}" src="{{ book.thumb }}">
    </a>
  </div>
  {%- endfor %}
</div>

<h2>İngilizce Kitaplar</h2>

{% for categoryName, categoryBooks in books.en %}
  <h3>{{ categoryName }}</h3>

  <div class="row">
    {% for book in categoryBooks %}
      <div class="book">
        <a href="{{ book.url }}">
          <img alt="{{ book.title }}" title="{{ book.title }}" src="{{ book.thumb }}">
        </a>
      </div>
    {% endfor %}
  </div>
{% endfor %}

{% endblock %}
