{% set selected = "kitaplar" %}

{% extends "../index.html" %}

{% block page %}

<h3>Node.js kitapları</h3>

<style>
.clearfix {
  clear: both;
  display: block;
  overflow: auto;
}
div.book {
  float: left;
  padding: 10px;
}
div.book img {
  max-height: 150px;
}
</style>

<h4>Türkçe kitaplar</h4>

{% for book in books.tr -%}
<div class="book">
  <a target="_blank" href="{{ book.url }}">
    <img alt="{{ book.title }}" title="{{ book.title }}" src="{{ book.thumb }}">
  </a>
</div>
{%- endfor %}

<div class="clearfix"></div>

<h4>İngilizce Kitaplar</h4>

{% for a,b in books.en_cat %}
  <h5>{{a}}</h5>
  {% for book in b %}
    <div class="book">
      <a target="_blank" href="{{ book.url }}">
        <img alt="{{ book.title }}" title="{{ book.title }}" src="{{ book.thumb }}">
      </a>
    </div>
  {% endfor %}
  <div class="clearfix"></div>
{% endfor %}

{% endblock %}
