<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>node.tr - Node.js İstanbul Topluluğu</title>
<link rel="shortcut icon" href="/favicon.png">
<link rel="stylesheet" href="/vendor/material-icons.css">
<link rel="stylesheet" href="/vendor/material.indigo-pink.min.css" />
<link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{% block title %}{% endblock %}{#node.ist - İstanbul Node.js#}</span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link {%if page=='nodetr'%}mdl-navigation-selected{%endif%}" href="/">node.ist</a>
      {#<a class="mdl-navigation__link" href="#">Node.js Nedir?</a>#}
      {#<a class="mdl-navigation__link" href="/uyeler">Üyeler</a>#}
      <a class="mdl-navigation__link {%if page=='kitaplar'%}mdl-navigation-selected{%endif%}" href="/kitaplar">Kitaplar</a>
      <a class="mdl-navigation__link {%if page=='ilanlar'%}mdl-navigation-selected{%endif%}" href="/ilanlar">İş ilanları</a>
      {#<a class="mdl-navigation__link" href="#">Bloglar</a>#}
      <a class="mdl-navigation__link {%if page=='organizasyonlar'%}mdl-navigation-selected{%endif%}" href="/organizasyonlar">Organizasyonlar</a>
      <a class="mdl-navigation__link {%if page=='usedby'%}mdl-navigation-selected{%endif%}" href="/kullanan-sirketler">Kullanan Şirketler</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <!--<div class="mdl-grid">-->
    
        {% block page %}{% endblock %}
      
    <!--</div>-->
  </main>
</div>

<script src="/vendor/material.min.js"></script>

</body>
</html>
