<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="icon" href="/favicon.ico">-->
  <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <title>{{ title }} - node.ist</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/nodeist.png"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{%if page=='nodetr'%}active{%endif%}"><a href="/">node.ist</a></li>
        <li class="{%if page=='bilgiler'%}active{%endif%}"><a href="/bilgiler">Bilgiler</a></li>
        <li class="{%if page=='gelistiriciler'%}active{%endif%}"><a href="/gelistiriciler">Geliştiriciler</a></li>
        <li class="{%if page=='kitaplar'%}active{%endif%}"><a href="/kitaplar">Kitaplar</a></li>
        <li class="{%if page=='ilanlar'%}active{%endif%}"><a href="/ilanlar">İş ilanları</a></li>
        <li class="{%if page=='organizasyonlar'%}active{%endif%}"><a href="/organizasyonlar">Organizasyonlar</a></li>
        <li class="{%if page=='usedby'%}active{%endif%}"><a href="/kullanan-sirketler">Kullanan Şirketler</a></li>
        <li class="{%if page=='iletisim'%}active{%endif%}"><a href="/iletisim">İletişim</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <h1>{{ title }}</h1>
  {% block page %}{% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>

</body>
</html>
