{% extends "./layout.html" %}

{% block page %}

<h2>node.ist nedir, neyi amaçlar?</h2>

<p>İstanbul'da ve Türkiye'de <a href="http://nodejs.org">Node.js</a>'in bilinirliğinin arttırılması ile Node.js kullanan kişi ve şirketlerin bir araya gelmesini amaçlayan ve bu amaçta çalışan bir topluluktur.</p>

<p>Dünyadaki diğer Node.js topluluklarını <a href="https://nodejs.org/en/get-involved/#international-community-sites-and-projects">Node.js resmi internet sitesinde</a> bulabilirsiniz.</p>

<h2>node.ist ne yapar?</h2>

<ul>
  <li>Node.js ile ilgili <a href="/bilgiler">belge ve yazı yayınlar</a></li>
  <li>Türkiye ve dünyadaki <a href="/kitaplar">Node.js ile ilgili kitapları</a> listeler ve bulmanızı kolaylaştırır</a></li>
  <li>İstanbul'da doğrudan veya dolaylı olarak <a href="/ilanlar">Node.js ile ilgili tüm iş ilanlarını</a> takip eder listeler</li>
  <li>Türkiye'de <a href="/organizasyonlar">Node.js ile ilgili faaliyet yapan toplulukları</a> takip eder ve listeler</li>
  <li><a href="kullanan-sirketler">Node.js kullanan şirketleri</a> takip eder ve listeler</li>
</ul>

<h2>node.ist kimlerden oluşur?</h2>

<p><a href="https://github.com/orgs/nodeist/people">https://github.com/orgs/nodeist/people</a> adresinde yer alan gönüllülerden oluşur.</p>

<h2>node.ist'e nasıl katılırım?</h2>

<p><img src="http://safemail.justlikeed.net/e/9b7e08d2ede7e86fa26d00e2f77099c3.png"> adresine kendini ve neler katmak istediğini anlatan bir e-posta atarak başvurabilirsin.</p>

{% endblock %}
