{% extends "./layout.html" %}

{% block page %}

<img class="orgLogo" src="http://nodeschool.ist/images/nodeschool-istanbul.svg" />

<h2>
  NodeSchool Istanbul
  <br /><small>Türkiye'deki ilk ve tek Node.js eğitim grubu</small>
</h2>

<dl class="dl-horizontal">
  <dt>Web sitesi</dt>
    <dd><a href="http://nodeschool.ist/">http://nodeschool.ist</a></dd>
  <dt>Meetup sayfası</dt>
    <dd><a href="http://www.meetup.com/nodeschool-istanbul/">meetup.com/nodeschool-istanbul</a></dd>
  <dt>Kurucu ve organizatör</dt>
    <dd><a href="https://github.com/arifcakiroglu">Arif Çakıroğlu</a></dd>
</dl>

<p>
Tüm eğitimlerin halka açık ve ücretsiz olduğu NodeSchool Istanbul'un ilk etkinliğine 300'den fazla kişi katılmıştır.
</p>

<hr />

<p>Organizasyon eklemek için lütfen <a href="https://github.com/nodeist/website">GitHub</a> deposuna Pull Request yapın ya da <a href="mailto:hey@node.ist">hey@node.ist</a> adresine e-posta gönderin.</a>

{% endblock %}
