{% extends "../index.html" %}

{% block page %}

<style>
.nslogo {
  height: 100px;
  width: 100px;
}
</style>

<h3>Türkiye'deki Node.js organizasyonları</h3>

<img class="nslogo" src="http://nodeschool.ist/images/nodeschool-istanbul.svg" />

<h4>
NodeSchool Istanbul
<p>Türkiye'deki ilk ve tek Node.js eğitim grubu</p>
</h4>


<dl>
  <dt>Web sitesi</dt>
    <dd><a target="_blank" href="http://nodeschool.ist/">http://nodeschool.ist</a></dd>
  <dt>Meetup sayfası</dt>
    <dd><a target="_blank" href="http://www.meetup.com/nodeschool-istanbul/">meetup.com/nodeschool-istanbul</a></dd>
  <dt>Kurucu ve organizatör</dt>
    <dd><a target="_blank" href="https://github.com/arifcakiroglu">Arif Çakıroğlu</a></dd>
</dl>

<p>
Tüm eğitimlerin halka açık ve ücretsiz olduğu NodeSchool Istanbul'un ilk etkinliğine 300'den fazla kişi katılmıştır.
</p>

<hr />

<p>Organizasyon eklemek için lütfen GitHub deposuna Pull Request yapın ya da <a href="mailto:hey@node.ist">hey@node.ist</a> adresine e-posta gönderin.</a>

{% endblock %}
