{% extends "../index.html" %}

{% block title %}Node.js kullanan şirketler{% endblock %}
{% block page %}

<style>
img.compimg {
  width: 100px; padding: 5px 20px;
}
</style>

<a target="_blank" href="http://www.kapgel.com/"><img class="compimg" src="/images/bitaksi.png"></a>
<a target="_blank" href="http://www.kapgel.com/"><img class="compimg" src="/images/getir.jpg"></a>
<a target="_blank" href="http://www.kapgel.com/"><img class="compimg" src="/images/kapgel.png"></a>

<hr />

<p>Şirketinizi eklemek için lütfen <a target="_blank" href="https://github.com/nodeist/website">GitHub</a> deposuna Pull Request yapın ya da <a href="mailto:hey@node.ist">hey@node.ist</a> adresine e-posta gönderin.</a></p>

<p>*Sıralama isme göre yapılmıştır.</p>

{% endblock %}
